@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');


$mesk-dark-color: #624835;
$mesk-theme-color: #F9F4EE;
$mesk-dark-font-color: #573C2E;
$mesk-dark-btn-color: #EDAA38;
$mesk-dark-border-color: #EDAA38;
$mesk-new-badge-bgcolor: #EDAA38;
$mesk-offer-badge-bgcolor: #468E56;
$mesk-client-subscription-bg: #D5A36F;
$mesk-social-icon-color: #D5A36F;

$mesk-font-style: 'Roboto', sans-serif;
$mesk-font-title-style: 'Montserrat', sans-serif;